/**
 * #HCSocial
* @author Loïck Mahieux
*/

.ui-page {
    background: #e9eaed;
}

.ui-header.ui-bar-inherit {
    background-color: #3c7de7;
    border-color: #06A0FF;
    color: #ffffff;
}

.login-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.news .content {
    text-align: justify;
    word-wrap: break-word;
    overflow: hidden;
    line-height: 1em;
}

#news {
    padding-top: 5px;
}

#news div.news {
    padding-bottom: 5px;
}

.date {
    display: block;
    color: #888888;
}

img.gravatar {
    width: 50px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}

/*Fuck JQuery Mobile*/
.ui-header .ui-btn {
    background: #06A0FF !important;
    border: 1px solid #3c7de7 !important;
    color: #ffffff !important;
}

.ui-content .ui-btn {
    background: #3c7de7 !important;
    border: 1px solid #06A0FF !important;
    color: #ffffff !important;
}

.link {
    padding-right: 10px;
}

.like-count {
    margin-right: 5px;
}

img.like {
    width: 20px;
}

.ui-block-a.profile {
    max-width: 60px;
}

.ui-block-b.profile {
    margin-top: 7px;
    width: calc(100% - 60px) !important;
}

form h1, form h2 {
    text-align: center;
}

.comment {
    border-bottom: 1px solid lightgrey;
}

.comment:last-of-type {
    border-bottom: 0;
}