body {
    background: #eee;
    padding-top: 50px;
    padding-bottom: 50px;
}

.form-signin {
    max-width: 350px;
    margin: auto;
    padding: 15px;
}

.form-signin input {
    margin-top: 5px;
    min-height: 45px;
}