body {
    margin-top: 60px;
}

a {
    cursor: pointer;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

textarea {
    max-width: 100%;
    max-height: 200px;
}

.date {
    color: #888888;
}