body {
    margin-top: 60px;
    background: #e9eaed;
}

a {
    cursor: pointer;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

textarea {
    max-width: 100%;
    max-height: 200px;
}

.news p {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.comments img.gravatar {
    width: 40px;
}

.comments .media {
    border-bottom: 1px solid lightgrey;
}

.comments .media:last-of-type {
    border-bottom: 0;
}

.date {
    color: #888888;
}

#loading {
    text-align: center;
}

#news h2 {
    text-align: center;
}

img.profile {
    width: 40px;
    margin-right: 5px;
}

.glyphicon {
    margin-left: 5px;
    margin-right: 5px;
}

#loading img {
    width: 100px;
}

#loading h1 {
    text-align: center;
}

.navbar-default .glyphicon {
    color: #ffffff;
}

.navbar-default {
    background-color: #3c7de7;
    border-color: #06A0FF;
}

.navbar-default .navbar-brand {
    color: #ecf0f1;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff;
}

.navbar-default .navbar-text {
    color: #ecf0f1;
}

.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
    background: #06A0FF;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #06A0FF;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #06A0FF;
}

.navbar-default .navbar-toggle {
    border-color: #06A0FF;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #06A0FF;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ecf0f1;
}

.navbar-default .navbar-link {
    color: #ecf0f1;
}

.navbar-default .navbar-link:hover {
    color: #ffffff;
}

.navbar-default img {
    position: relative;
    top: -5px;
    float: left;
    left: -5px;
    width: 30px;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #06A0FF;
    }
}