{% extends 'layout/connected' %}

{% block content %}
    <div class="container-fluid">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Exprimez-vous
                </div>
                <div class="panel-body">
                    <textarea name="status" class="form-control" rows="3" placeholder="Votre message..."></textarea>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-sm btn-primary">Publier</button>
                </div>
            </div>
        </div>

        <div id="news"></div>

        <div class="col-lg-6 col-lg-offset-3" id="loading-news">
            <img src="/public/img/loading.gif" alt="Chargement..." class="center-block">
            <h1>Chargement...</h1>
        </div>
    </div>
{% endblock %}
{% block comments %}
<div class="media">
    <div class="media-left">
        <a href="/users/show/loick111">
            <img src="/public/img/users/loick111.png" alt="Loïck Mahieux" class="img-circle"
                 width="40">
        </a>
    </div>
    <div class="media-body">
        <a href="/users/show/loick111" class="comment-author pull-left">Loïck Mahieux</a>
        <span class="date">, le 12/03/2015 à 23:54</span>

        <p>
            Maecenas eget lacus enim. Proin at nisl interdum, tincidunt quam a, viverra libero.
            Donec imperdiet condimentum nisl, et dapibus diam finibus in. Aliquam mollis interdum
            arcu id egestas.
        </p>
    </div>
</div>
{% endblock %}