{% extends 'layout/connected' %}

{% block content %}
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Exprimez-vous
            </div>
            <form method="post" action="/news/add" id="form-add-news">
                <div class="panel-body">
                    <textarea name="message" class="form-control" rows="3" placeholder="Votre message..."
                              required></textarea>
                </div>
                <div class="panel-footer">
                    <a class="btn"><span class="glyphicon glyphicon-picture"></span></a>
                    <a class="btn"><span class="glyphicon glyphicon-paperclip"></span></a>
                    <input type="submit" class="btn btn-sm btn-primary pull-right" value="Publier">
                </div>
            </form>
        </div>
    </div>

    <div class="col-lg-4 col-lg-offset-4 alert alert-dismissable" role="alert" id="alert">
        <h4>Erreur !</h4>

        <p>Veuillez activer JavaScript.</p>
    </div>

    <div id="news">

    </div>

    <div class="col-lg-6 col-lg-offset-3" id="news-message">
        <img src="/public/img/loading.gif" alt="Chargement..." class="center-block">

        <h1>Chargement...</h1>
    </div>
{% endblock %}

{% block comments %}
    <div class="media">
        <div class="media-left">
            <a href="/users/show/loick111">
                <img src="/public/img/users/loick111.png" alt="Loïck Mahieux" class="img-circle"
                     width="40">
            </a>
        </div>
        <div class="media-body">
            <a href="/users/show/loick111" class="comment-author pull-left">Loïck Mahieux</a>
            <span class="date">, le 12/03/2015 à 23:54</span>

            <p>
                Maecenas eget lacus enim. Proin at nisl interdum, tincidunt quam a, viverra libero.
                Donec imperdiet condimentum nisl, et dapibus diam finibus in. Aliquam mollis interdum
                arcu id egestas.
            </p>
        </div>
    </div>
{% endblock %}