{% extends 'layout/default' %}

{% block content %}

    <section>
        <article>
            <h1>JSProject</h1>

            <ul>
                <li><a href="/user/login">Connexion</a></li>
                <li><a href="/user/signin">Inscription</a></li>
            </ul>
        </article>
    </section>

{% endblock %}