<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>#HCSocial</title>

    {{ helpers.assets.css('bootstrap.min') }}
    {{ helpers.assets.css('bootstrap-theme.min') }}

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="st-container">
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a class="navbar-brand" href="/">#HCSocial</a>
                    </li>
                    <li class="active">
                        <a href="/">Fil d'actualité</a>
                    </li>
                    <li>
                        <a href="/messages">Messages</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-inner">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a>Loïck MAHIEUX</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Exprimez-vous
                    </div>
                    <div class="panel-body">
                        <textarea name="status" class="form-control share-text" rows="3"
                                  placeholder="Votre message ..."></textarea>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-sm btn-primary">Partager</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="media">
                            <div class="media-left">
                                <a href="">
                                    <img src="/public/img/profile.png" alt="Loïck Mahieux"
                                         class="media-object img-circle" width="40">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="/user/loick111">Loïck Mahieux</a>
                                <span>le 12 mars 2015 à 23:42</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis perspiciatis
                            praesentium quaerat repudiandae soluta? Cum doloribus esse et eum facilis impedit officiis
                            omnis optio, placeat, quia quo reprehenderit sunt velit? Asperiores cumque deserunt eveniet
                            hic reprehenderit sit, ut voluptatum?</p>
                    </div>
                    <div class="panel-footer">
                        <a href="" id="comments-display"><span class="glyphicon glyphicon-comment"></span> Afficher les
                            commentaires</a>
                    </div>
                    <div class="panel-body" id="comments">
                        <div class="media">
                            <div class="media-left">
                                <a href="/user/loick111">
                                    <img src="/public/img/profile.png" alt="Loïck Mahieux" class="img-circle"
                                         width="40">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="/user/loick111" class="comment-author pull-left">Loïck Mahieux</a>
                                <span class="comment-date">, le 12/03/2015 à 23:54</span>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis perspiciatis
                                    praesentium quaerat repudiandae soluta? Cum doloribus esse et eum facilis impedit
                                    officiis omnis optio, placeat, quia quo reprehenderit sunt velit? Asperiores cumque
                                    deserunt eveniet hic reprehenderit sit, ut voluptatum?</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <a href="/user/loick111">
                                    <img src="/public/img/profile.png" alt="Loïck Mahieux" class="img-circle"
                                         width="40">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="/user/loick111" class="comment-author pull-left">Loïck Mahieux</a>
                                <span class="comment-date">, le 12/03/2015 à 23:54</span>

                                <p>Ad blanditiis perspiciatis praesentium quaerat repudiandae soluta? Cum doloribus esse
                                    et eum facilis impedit officiis omnis optio, placeat, quia quo reprehenderit sunt
                                    velit?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
