<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>JSProject</title>

    {% block css %}
    {% endblock %}

    {% block js_head %}
    {% endblock %}

</head>
<body>

{% block content %}
{% endblock %}

{% block js_body %}
{% endblock %}

</body>
</html>