<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>JSProject</title>

    {{ helpers.assets.css('bootstrap.min') }}
    {{ helpers.assets.css('style') }}

    {% block css %}
    {% endblock %}

    {{ helpers.assets.js('jquery-2.1.3.min') }}
    {{ helpers.assets.js('jquery.mobile-1.4.5.min') }}

    {% block js_head %}
    {% endblock %}

</head>
<body>

{% block content %}
{% endblock %}

{% block js_body %}
{% endblock %}

</body>
</html>