{% extends 'layout/errors' %}

{% block content %}

    <section>
        <article>
            <h1>Erreur 404</h1>
            <h2>Page Introuvable</h2>
        </article>
    </section>

{% endblock %}